.nav-main,
.filter-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-main{
    border-bottom: 1px solid grey;
}

.filter-main{
margin-top: 40px;
}

