.event-main{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.left-main{
    flex-basis: 50%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.right-main{
    margin-top: 30px;
}
.right-details{
    height: 200px;
    background-color: #FEFFFF;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    border-radius: 5px;
}

.tag-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.tags-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3cap;
    min-width: 100px;
    background-color: #F65758;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

.speakers-main{
    display: grid;
    grid-template-columns:1fr 1fr ;
    width: 100%;
    margin: 30px 0 30px 0;
    gap: 30px;

}

.speakers-card{
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.avtr-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}