@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

button{
 height: 50px;
  width: 120px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #F65758;
  margin-top: 20px;
  cursor: pointer;
}

input, select{
  border-radius: 5px;
  border: none;
  background-color: white;
  height: 40px;
  width: 250px;
  padding-left: 15px;
}